* {
    box-sizing: border-box;
}

h1 {
    font-family: arial;
    color: rgb( 11, 86, 117 );
}

body {
/*    background-image: url(bg.png);*/
    background-repeat: no-repeat;
    font-family: arial;
    margin: 0;
    padding: none;
    background-color: rgb( 154, 205, 237 );
    color: rgb( 28, 78, 104 );
}


body::before {
    content: "Click To Start!"; /* 添加背景文字 */
    position: absolute;       /* 绝对定位 */
    top: 50%;                 /* 垂直居中 */
    left: 50%;                /* 水平居中 */
    transform: translate(-50%, -50%); /* 精确居中 */
    font-size: 2rem;          /* 设置文字大小 */
    color: white;             /* 设置文字颜色 */
    font-weight: bold;        /* 设置字体粗细 */
    z-index: -1;              /* 确保背景文字位于内容下方 */
}

footer {
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb( 233, 73, 154 );
}
a:visited {
    color: rgb( 110, 30, 71 );
}
a:hover {
    color: rgb( 252, 207, 230 );
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: block;
    border: 0px none;
    visibility: hidden;
}
